@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=latin-ext");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    overflow: hidden;
    line-height: 1.75;
    color: #fff;
    background-color: #000;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("adult-art-backlit-316681.jpg") center no-repeat;
    background-size: cover;
}

.main-header {
    display: flex;
    height: 500px;
    width: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: auto;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 75px;
    width: 75px;
    border: solid 1px #fff;
    border-radius: 100%;
}

.logo>span {
    font-size: 45px;
    color: #fff;
}

h1 {
    text-transform: uppercase;
    font-size: 2.15rem;
    letter-spacing: 0.50rem;
    padding: 10px 10px;
}

p {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.90rem;
}

.main-nav {
    margin-top: 50px;
    position: relative;
    height: 40px;
    width: auto;
}

.main-nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: solid 1px #fff;
    border-radius: 4px;
    list-style: none;
}

.main-nav>ul>li>a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.90rem;
}

.main-nav>ul>li {
    padding: 7px 10px 7px 10px;
    border-right: solid 1px #fff;
    width: 110px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.main-nav>ul>li:hover {
    cursor: pointer;
    background: rgb(103, 109, 121, 0.3)
}

.main-nav>ul>li.last {
    border-right: none;
}

/*MEDIA QUERIES*/

@media screen and (max-width:960px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:480px) {}